.bt-logo {
    margin-top:1vh;
    margin-bottom:1vh;
    background-size: contain;
    background-repeat: no-repeat;
    max-height:64px;
    width:auto;
    border-style: none;
    margin-right:3vw;
  }
  